{{ template "header" . }}
<h1>{{ .Username }}さん：パスワード変更</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/user/account/edit/password" method="POST">
    <label>旧パスワード: </label><input type="text" name="oldpassword" value="{{ .Oldpassword }}" required><br>
    <label>新パスワード(大小英字、数字、記号を1文字以上、かつ10文字以上): </label><input type="text" name="newpassword" value="{{ .Newpassword }}" required><br>
    <label>新パスワード(確認用): </label><input type="text" name="newpasswordRe" value="{{ .NewpasswordRe }}" required><br>
    <input type="submit" value="登録">
</form>
{{ template "footer" }}
